doctype
html
   head
      meta(charset="utf-8")
      title #{title}
      link(href="/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet")
      script(src="/jquery/dist/jquery.min.js")
      script(src="/bootstrap/dist/js/bootstrap.min.js")
      block style
   body
      nav.navbar.navbar-default
        .container
            .navbar-header
                a.navbar-brand(href="/") 小苏梦工厂
            .collapse.navbar-collapse
                ul.nav.navbar-nav
                    li.active
                        a(href="/") 首页
                    if account
                        if account.level>=6
                            li.dropdown
                                a.dropdown-toggle(data-toggle="dropdown",aria-haspopup="true",aria-expanded="false") 栏目
                                    span.caret
                                ul.dropdown-menu
                                    li
                                        a(href='/category/list') 列表
                                    li
                                        a(href='/category/create') 新建
                        li.dropdown
                            a.dropdown-toggle(data-toggle="dropdown",aria-haspopup="true",aria-expanded="false") 博客
                                span.caret
                            ul.dropdown-menu
                                li
                                    a(href='/blog/list') 列表
                                li
                                    a(href='/blog/create') 新建
                        if account.level>=6
                            li
                                a(href='/account/list') 列表
                .navbar-right
                    if account
                        h4 你好，
                            a(href='/account/setting')
                                if account.fullname
                                    | #{account.fullname}
                                else
                                    | #{account.uid}
                            | /
                            a(href='/account/signout') 登出
                    else
                        h4
                            a(href='/account/signin') 登录
                            | /
                            a(href='/account/signup') 注册
      .container
        block content